<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="e_button_offset" value="0.0035"/>

    <xacro:macro name="base_macro" params="
        color
        e_button_color
        power_button_color
        frame_height
        frame_ground_clearance
        prefix"
    >
        <link name="${prefix}base_link">
            <visual>
                <origin rpy="0 0 ${pi/2}" xyz="0 0 ${frame_ground_clearance}"/>
                <geometry>
                    <mesh filename="file://$(find robotont_lite_description)/meshes/gen2_1/frame_module.STL"/>
                </geometry>
                <material name="base_material">
                    <color rgba="${color}"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="file://$(find robotont_lite_description)/meshes/shared/collision_body.STL"/>
                </geometry>
                <origin rpy="${pi/2} 0 ${pi/2}" xyz="-0.01 0 ${frame_ground_clearance + 0.035}"/>
            </collision>
            <inertial>
                <mass value="3"/>
                <inertia
                    ixx="0.02462503"
                    ixy="0"
                    ixz="0"
                    iyy="0.02082228"
                    iyz="0"
                    izz="0.04324237"
                />
            </inertial>
        </link>

        <joint name="${prefix}base_joint" type="fixed">
            <parent link="${prefix}base_footprint"/>
            <child link="${prefix}base_link"/>
            <origin xyz="0 0 ${frame_ground_clearance}" rpy="0 0 0"/>
        </joint>

        <!-- E-button -->
        <link name="${prefix}e_button_link">
            <visual>
                <geometry>
                    <mesh filename="file://$(find robotont_lite_description)/meshes/gen3/e_stop_button.STL"/>
                </geometry>
                <material name="e_button_material">
                    <color rgba="${e_button_color}"/>
                </material>
            </visual>
        </link>

        <joint name="e_button_joint" type="fixed">
            <parent link="${prefix}base_link"/>
            <child link="${prefix}e_button_link"/>
            <axis xyz="0 0 1"/>
            <origin
                xyz="-0.0094 0.105 ${frame_ground_clearance + frame_height - e_button_offset}"
                rpy="${pi / 2} 0 ${pi / 2}"
            />
        </joint>

        <!-- Power button -->
        <link name="${prefix}power_button_link">
            <visual>
                <geometry>
                    <mesh filename="file://$(find robotont_lite_description)/meshes/gen3/power_button.STL"/>
                </geometry>
                <material name="power_button_material">
                    <color rgba="${power_button_color}"/>
                </material>
            </visual>
        </link>

        <joint name="power_button_joint" type="fixed">
            <parent link="${prefix}base_link"/>
            <child link="${prefix}power_button_link"/>
            <axis xyz="0 0 1"/>
            <origin
                xyz="-0.0094 0.133 ${frame_ground_clearance + frame_height - 0.001}"
                rpy="${pi / 2} 0 ${pi / 2}"
            />
        </joint>
    </xacro:macro>
</robot>
