<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotont_lite">

    <xacro:property name="primary_color" value="$(arg main_color)"/>
    <xacro:property name="secondary_color" value="$(arg second_color)"/>

    <xacro:include filename="$(find robotont_description)/urdf/gen3/robotont.urdf.xacro"/>
    <xacro:include filename="$(find robotont_description)/urdf/gen3/base.urdf.xacro"/>
    <xacro:include filename="$(find robotont_description)/urdf/gen3/motor.urdf.xacro"/>
    <xacro:include filename="$(find robotont_lite_description)/urdf/lite3/lite.urdf.xacro"/>

    <xacro:property name="raspy_color" value="0 0.55 0.29 1.0"/>
    <xacro:property name="lidar_color" value="0.26 0.26 0.26 1.0"/>
    
    <!-- Lite -->
    <xacro:lite_macro
        prefix="${prefix}"
        box_color="${secondary_color}"         
        pi_module_color="${secondary_color}" 
        spacers_color="${spacers_color}"
        raspy_color="${raspy_color}"
        lidar_color="${lidar_color}"
        frame_height="${frame_height}"
        frame_ground_clearance="${frame_ground_clearance}"
        frame_thickness="${frame_thickness}"
    />
</robot>
