<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotont_lite">
    <xacro:include filename="$(find robotont_description)/urdf/gen3/robotont.urdf.xacro"/>
    <xacro:include filename="$(find robotont_description)/urdf/gen3/base.urdf.xacro"/>
    <xacro:include filename="$(find robotont_description)/urdf/gen3/motor.urdf.xacro"/>
    <xacro:include filename="$(find robotont_lite_description)/urdf/lite3/lite.urdf.xacro"/>

    <xacro:property name="cable_box_color" value="1.0 1.0 0.0 1.0"/>
    <xacro:property name="pi_module_color" value="1.0 1.0 0.0 1.0"/>
    <xacro:property name="raspy_color" value="0 0.55 0.29 1.0"/>
    <xacro:property name="lidar_color" value="0.26 0.26 0.26 1.0"/>

    <!-- Lite -->
    <xacro:lite_macro
        prefix="${prefix}"
        box_color="${cable_box_color}"
        pi_module_color="${pi_module_color}"
        raspy_color="${raspy_color}"
        lidar_color="${lidar_color}"
        frame_height="${frame_height}"
        frame_ground_clearance="${frame_ground_clearance}"
        frame_thickness="${frame_thickness}"
    />
</robot> 