<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotont_lite3">
    <xacro:include filename="$(find robotont_lite_description)/urdf/shared/rim.urdf.xacro"/>
    <xacro:include filename="$(find robotont_lite_description)/urdf/lite3/motor.urdf.xacro"/>
    <xacro:include filename="$(find robotont_lite_description)/urdf/lite3/base.urdf.xacro"/>
    <xacro:include filename="$(find robotont_lite_description)/urdf/lite3/lite.urdf.xacro"/>

    <xacro:arg name="prefix" default=""/>
    <xacro:property name="prefix" value="$(arg prefix)"/>

    <xacro:property name="wheel_distance" value="0.151"/>
    <xacro:property name="wheel_center_offset" value="0.014"/>
    <xacro:property name="wheel_center_height" value="0.021"/>
    <xacro:property name="roller_color" value="0.61 0.55 0.49 1.0"/>
    <xacro:property name="rim_color" value="0.26 0.26 0.26 1.0"/>
    <xacro:property name="wheel_z_rotation_offset" value="${5.613 * (pi / 180)}"/>
    <xacro:property name="wheel_length" value="${0.0225}"/>

    <xacro:property name="frame_height" value="0.065"/>
    <xacro:property name="frame_ground_clearance" value="0.014"/>
    <xacro:property name="frame_thickness" value="0.000025"/>
    <xacro:property name="base_color" value="0.16 0.65 0.98 1.0"/>
    <xacro:property name="pcb_color" value="0 0.55 0.29 1.0"/>
    <xacro:property name="e_button_color" value="1.0 0 0 0.8"/>
    <xacro:property name="power_button_color" value="0.75 0.75 0.75 1.0"/>
    <xacro:property name="battery_module_color" value="0.26 0.26 0.26 1.0"/>

    <xacro:property name="cable_box_color" value="1.0 1.0 0.0 1.0"/>
    <xacro:property name="pi_module_color" value="1.0 1.0 0.0 1.0"/>
    <xacro:property name="raspy_color" value="0 0.55 0.29 1.0"/>
    <xacro:property name="lidar_color" value="0.26 0.26 0.26 1.0"/>

    <link name="${prefix}base_footprint"/>

    <!-- Frame module -->
    <xacro:base_macro
        color="${base_color}"
        pcb_color="${pcb_color}"
        e_button_color="${e_button_color}"
        power_button_color="${power_button_color}"
        battery_module_color="${battery_module_color}"
        frame_height="${frame_height}"
        frame_ground_clearance="${frame_ground_clearance}"
        prefix="${prefix}"
    />

    <!-- Motor modules -->
    <xacro:motor_macro
        name="back"
        color="${rim_color}"
        angle="${-3 * pi / 2}"
        wheel_center_height="${wheel_center_height}"
        wheel_center_offset="${wheel_center_offset}"
        wheel_length="${wheel_length}"
        frame_ground_clearance="${frame_ground_clearance}"
        frame_thickness="${frame_thickness}"
        distance="${-wheel_distance}"
        prefix="${prefix}"
    />

    <xacro:motor_macro
        name="right"
        color="${rim_color}"
        angle="${5 * pi / 6}"
        z_rotation="${pi}"
        position_offset="${-1}"
        wheel_center_offset="${wheel_center_offset}"
        wheel_center_height="${wheel_center_height}"
        wheel_length="${-wheel_length}"
        frame_ground_clearance="${frame_ground_clearance}"
        frame_thickness="${frame_thickness}"
        distance="${wheel_distance}"
        prefix="${prefix}"
    />

    <xacro:motor_macro
        name="left"
        color="${rim_color}"
        angle="${7 * pi / 6}"
        wheel_center_offset="${wheel_center_offset}"
        wheel_center_height="${wheel_center_height}"
        wheel_length="${wheel_length}"
        frame_ground_clearance="${frame_ground_clearance}"
        frame_thickness="${frame_thickness}"
        distance="${-wheel_distance}"
        prefix="${prefix}"
    />

    <!-- Wheels -->
    <xacro:rim_macro
        name="back"
        color="${rim_color}"
        roller_color="${roller_color}"
        angle="${3 * pi / 2}"
        wheel_distance="${wheel_distance}"
        wheel_center_height="${wheel_center_height}"
        wheel_center_offset="${wheel_center_offset}"
        prefix="${prefix}"
    />
    <xacro:rim_macro
        name="left"
        color="${rim_color}"
        roller_color="${roller_color}"
        angle="${5 * pi / 6}"
        wheel_distance="${wheel_distance}"
        wheel_center_height="${wheel_center_height}"
        wheel_center_offset="${wheel_center_offset}"
        prefix="${prefix}"

    />
    <xacro:rim_macro
        name="right"
        color="${rim_color}"
        roller_color="${roller_color}"
        angle="${7 * pi / 6}"
        flip_axis="-1"
        wheel_distance="${-wheel_distance}"
        wheel_center_height="${wheel_center_height}"
        wheel_center_offset="${wheel_center_offset}"
        prefix="${prefix}"
    />

    <!-- Lite -->
    <xacro:lite_macro
        prefix="${prefix}"
        box_color="${cable_box_color}"
        pi_module_color="${pi_module_color}"
        raspy_color="${raspy_color}"
        lidar_color="${lidar_color}"
        frame_height="${frame_height}"
        frame_ground_clearance="${frame_ground_clearance}"
        frame_thickness="${frame_thickness}"
    />
</robot>
